$base-blue: #1768aa;
$bg-blue-hover: #1d90d2;
$fb-green-blue: #61dafb;
$base-dark: #1f2020;
$dark-text-color: #000000e6;
$bg-loader-opacity: #1818189a;
$dark-hover-gray: #2b2b2b;
$bg-dark-hover: #37383a;
$bg-dark-app: #444444;
$dark-gray: #5d5d5d;
$light-gray: #b4b4b4;
$footer-tab-gray: #a9a9a9;
$bg-light-app: #dcdcdc;
$light-hover-gray: #cccccc;
// $light-text-color: #ffff;
// $light-text-color: #ffffffe6;
$light-text-color: #fffffff2;
$bright-white-color: #fffefe;

/********************/
// LIGHT-THEME
$lapis-lazuli: #05599e;
$bright-navy-blue: #0670c6;

$cadmium-green: #0c6e3d;
$dark-sea-green: #8fcc94;
$tea-green: #c7e5c9;

$rosso-corsa: #cc2900;

$dark-gray: #5d5d5d;
$light-gray: #b4b4b4;
$light-gray-d6: #d6d6d6;
$cultured: #f5f5f5;
$white: #ffffffe3;
$bright-white-color: #fffefe;

$rich-black-froga: #0a0a0a;
$eerie-black: #141414;
$bg-loader-opacity: #1818189a;
$bg-modal-opacity: #0000005d;

//DARK-THEME
