$base-blue: #1768aa;
$bg-blue-hover: #1d90d2;
$fb-green-blue: #61dafb;
$base-dark: #1f2020;
$dark-text-color: #000000e6;
$bg-loader-opacity: #1818189a;
$dark-hover-gray: #2b2b2b;
$bg-dark-hover: #37383a;
$bg-dark-app: #444444;
$dark-gray: #5d5d5d;
$light-gray: #b4b4b4;
$footer-tab-gray: #a9a9a9;
$bg-light-app: #dcdcdc;
$light-hover-gray: #cccccc;
// $light-text-color: #ffff;
$light-text-color: #ffffffe6;
$bright-white-color: #fffefe;
