@import './_variables.scss';

@mixin main-media {
	@media (min-width: $mobile-width) {
		.light-App,
		.dark-App {
			width: 100%;
		}
	}
}

@mixin content-media {
	@media (min-width: $mobile-width) {
		.main-container {
			width: 95%;
		}
	}
}

@mixin footer-media {
	@media (min-width: $mobile-width) {
		.footer-container {
			width: 100%;
		}
	}
}

@mixin menu-media {
	@media (max-width: $nav-max-width) {
		.setting-menu-container {
			display: none;
		}

		.collapse-menu-container {
			display: flex;
			position: relative;
			// width: 45%;
			min-width: 270px;
			padding-bottom: 10px;

			.light-menu-icons,
			.dark-menu-icons {
				position: relative;
				display: flex;
				width: 100%;
				justify-content: space-around;
			}
		}
	}
}

@mixin nav-media {
	@media (max-width: $nav-max-width) {
		.light-nav,
		.dark-nav {
			height: 100px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			align-content: center;
			font-size: 1.2rem;

			.main-header {
				width: 100%;
			}
		}
	}
}

@mixin email-form-media {
	@media (min-width: $nav-main-width) {
		.light-email-form,
		.dark-email-form {
			width: $content-width;
		}
		.light-email-form-mini,
		.dark-email-form-mini {
			position: fixed;
			width: 240px;
			height: 40px;
		}
	}
}
