@import '../../sass/_colors.scss';
@import '../../sass/_variables.scss';

.collapse-menu-container {
	display: none;
}

.setting-menu-container {
	.light-menu-icons,
	.dark-menu-icons {
		position: absolute;
		background-color: $base-blue;
		top: 70px;
		right: 20px;
		border-radius: 0.2em;
	}

	.dark-menu-icons {
		background-color: $base-dark;
	}
}

@media (max-width: $nav-max-width) {
	.setting-menu-container {
		display: none;
	}

	.collapse-menu-container {
		display: flex;
		position: relative;
		// width: 45%;
		min-width: 270px;
		padding-bottom: 10px;

		.light-menu-icons,
		.dark-menu-icons {
			position: relative;
			display: flex;
			width: 100%;
			justify-content: space-around;
		}
	}
}
