@import '../../sass/_colors.scss';
@import '../../sass/_variables.scss';
@import '../../sass/_responsive.scss';

.light-App,
.dark-App {
	background-color: $light-gray-d6;
	// width: $mobile-width;
	width: 100vw;
	min-height: 100vh;
	// animation: show linear 0.3s;
}

.dark-App {
	background-color: $primary-black;
}

@keyframes show {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@include main-media;
