@import '../../sass/_colors.scss';

.light-App,
.dark-App {
	font-family: sans-serif;
	// background-color: $bg-light-app;
	background-color: $light-gray-d6;
	min-height: 100vh;
	animation: show linear 0.5s;
}

.dark-App {
	background-color: $primary-black;
}

@keyframes show {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}
