@import '../../sass/_colors.scss';

.light-section-header,
.dark-section-header {
	font-size: 1.2rem;
	font-style: italic;
	text-transform: capitalize;
	font-weight: bolder;
	color: $base-blue;
}

.dark-section-header {
	color: $fb-green-blue;
}
