@import '../../../sass/_responsive.scss';

.light-email-form,
.dark-email-form,
.light-email-form-mini,
.dark-email-form-mini {
	position: fixed;
	right: 10px;
	bottom: 0.5px;
	width: 400px;
	height: 500px;
	background-color: $lapis-lazuli;
	border-radius: 0.5em 0.5em 0 0;
	box-shadow: 0 8px 10px 1px #00000024, 0 3px 14px 2px #0000001f,
		0 5px 5px -3px #00000033;
	z-index: 1;

	.light-email-form-header,
	.dark-email-form-header {
		width: 100%;
		height: 40px;
		background-color: $lapis-lazuli;
		border-radius: inherit;
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: relative;

		.email-header-subject {
			width: 100%;
			color: $white;
			margin-left: 10px;
			cursor: default;
		}

		.light-mini-bottom,
		.dark-mini-bottom,
		.light-mini-top,
		.dark-mini-top,
		.light-mini-screen,
		.dark-mini-screen {
			width: 24px;
			height: 24px;
			position: absolute;
			right: 24px;
			margin-right: 5px;
			border-radius: 0.2em;
			display: flex;
			justify-content: center;
			align-items: flex-end;
			cursor: pointer;
			color: $cultured;

			.mini-bottom-icon,
			.mini-screen-icon {
				width: 18px;
				height: 18px;
			}

			&:hover {
				background-color: $bright-navy-blue;
				.mini-bottom-icon,
				.mini-screen-icon {
					color: $bright-white-color;
				}
			}
		}

		.light-mini-bottom,
		.dark-mini-bottom,
		.light-mini-top,
		.dark-mini-top {
			right: 48px;
		}

		.light-mini-top,
		.dark-mini-top {
			align-items: flex-start;
		}

		.light-mini-screen,
		.dark-mini-screen {
			align-items: center;
		}

		.dark-mini-bottom,
		.dark-mini-top,
		.dark-mini-screen {
			color: $fb-green-blue;

			&:hover {
				// background-color: $bg-dark-hover;
				background-color: $dark-gray;
				color: $bright-white-color;
			}
		}
	}

	.dark-email-form-header {
		// background-color: $base-dark;
		background-color: $bg-dark-hover;
	}

	.email-content {
		width: 100%;
		height: calc(100% - 40px);
		background-color: $cultured;
		padding: 0 15px;

		.email-content-header {
			display: flex;
			flex-direction: column;

			.email-content-header-info {
				width: 100%;
				height: 40px;
				padding: 10px 0;
				box-shadow: inset 0 -1px 0 0 #64798f1f;
				line-height: 20px;
				color: $dark-gray;
				display: flex;
				justify-content: center;
				align-items: center;

				label,
				input {
					font-size: 0.9rem;
				}

				input {
					width: 100%;
					height: calc(40px - 10px);
					margin-left: 5px;
					border: none;
					background-color: transparent;
					outline: none;
				}

				.email-subject {
					margin-left: 0;
				}

				::placeholder {
					/* Chrome, Firefox, Opera, Safari 10.1+ */
					color: $dark-gray;
					opacity: 1; /* Firefox */
				}

				:-ms-input-placeholder {
					/* Internet Explorer 10-11 */
					color: $dark-gray;
				}

				::-ms-input-placeholder {
					/* Microsoft Edge */
					color: $dark-gray;
				}
			}
		}
		.email-textarea {
			margin: 10px 0;
			width: 100%;
			height: calc(460px - 230px);
			background-color: transparent;
			border: none;
			outline: none;
			resize: none;
			font-family: inherit;
		}

		.email-form-footer {
			width: 100%;
			height: 40px;
			background-color: transparent;
			display: flex;
			justify-content: space-between;
			align-items: center;

			.btn-send-email {
				width: 80px;
				height: 35px;
				border: 0.5px solid $lapis-lazuli;
				border-radius: 0.2em;
				background-color: transparent;
				outline: none;
				color: $lapis-lazuli;
				font-size: 1rem;
				font-weight: 600;

				&:hover {
					background-color: $lapis-lazuli;
					border-color: $bright-navy-blue;
					color: $cultured;
				}
			}

			.discard-icon {
				width: 18px;
				height: 18px;
				color: $dark-gray;

				&:hover {
					color: $rosso-corsa;
				}
			}
		}
	}

	.email-content-none {
		display: none;
	}
}

.light-email-form-relative,
.dark-email-form-relative {
	position: initial;
	z-index: 2;
}

.light-email-form-mini,
.dark-email-form-mini {
	position: fixed;
	width: 240px;
	height: 40px;
}

.dark-email-form,
.dark-email-form-mini,
.dark-email-form-relative {
	// background-color: $base-dark;
	background-color: $bg-dark-hover;
}
