@import '../../../sass/_format.scss';
@import '../../../sass/_colors.scss';
@import '../../../sass/_responsive.scss';
@import '../../../sass/_variables.scss';
@import './emailForm.scss';

.form-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #00000080;
	z-index: 1;

	@include email-form-media;
}
