@import '../../../sass/_format.scss';
@import '../../../sass/_colors.scss';
@import '../../../sass/_responsive.scss';
@import '../../../sass/_variables.scss';

.email-form,
.email-form-mini-screen {
	width: 600px;
	height: 600px;
	background-color: $base-blue;
	border-radius: 0.5em 0.5em 0 0;
	box-shadow: 0 8px 10px 1px #00000024, 0 3px 14px 2px #0000001f,
		0 5px 5px -3px #00000033;
	position: relative;
	z-index: 2;

	.email-form-header,
	.email-form-header-mini {
		width: 100%;
		height: 40px;
		background-color: $base-blue;
		border-radius: inherit;
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: relative;

		.email-header-subject {
			width: 100%;
			color: $light-text-color;
			margin-left: 10px;
			cursor: default;
		}

		.mini-bottom,
		.mini-top,
		.mini-screen {
			width: 24px;
			height: 24px;
			position: absolute;
			right: 24px;
			margin-right: 5px;
			border-radius: 0.2em;
			display: flex;
			justify-content: center;
			align-items: flex-end;
			cursor: pointer;

			.mini-bottom-icon,
			.mini-screen-icon {
				width: 18px;
				height: 18px;
				color: #dcdcdc;
			}

			&:hover {
				background-color: $bg-blue-hover;
				.mini-bottom-icon,
				.mini-screen-icon {
					color: $bright-white-color;
				}
			}
		}

		.mini-bottom,
		.mini-top {
			right: 48px;
		}

		.mini-top {
			align-items: flex-start;
		}

		.mini-screen {
			align-items: center;
		}
	}

	.email-content,
	.email-content-screen {
		width: 100%;
		height: calc(600px - 40px);
		background-color: $bright-white-color;
		padding: 0 15px;

		.email-content-header {
			display: flex;
			flex-direction: column;

			.email-content-name {
				width: 100%;
				height: 40px;
				padding: 10px 0;
				box-shadow: inset 0 -1px 0 0 #64798f1f;
				line-height: 20px;
				color: $dark-gray;
				display: flex;
				justify-content: center;
				align-items: center;

				label,
				input {
					font-size: 0.9rem;
				}

				input {
					width: 100%;
					height: calc(40px - 10px);
					margin-left: 5px;
					border: none;
					background-color: transparent;
					outline: none;
				}

				.email-subject {
					margin-left: 0;
				}

				::placeholder {
					/* Chrome, Firefox, Opera, Safari 10.1+ */
					color: $dark-gray;
					opacity: 1; /* Firefox */
				}

				:-ms-input-placeholder {
					/* Internet Explorer 10-11 */
					color: $dark-gray;
				}

				::-ms-input-placeholder {
					/* Microsoft Edge */
					color: $dark-gray;
				}
			}
		}

		.email-textarea {
			margin: 10px 0;
			width: 100%;
			height: 325px;
			background-color: transparent;
			border: none;
			outline: none;
			resize: none;
			font-family: inherit;
		}

		.email-textarea-mini {
			height: 225px;
		}

		.email-form-footer {
			width: 100%;
			height: 50px;
			background-color: transparent;
			display: flex;
			justify-content: space-between;
			align-items: center;

			.btn-send-email {
				width: 80px;
				height: 35px;
				border: 0.5px solid $base-blue;
				border-radius: 0.2em;
				background-color: transparent;
				outline: none;
				color: $base-blue;
				font-size: 1rem;
				font-weight: 600;

				&:hover {
					background-color: $bg-blue-hover;
					border-color: $fb-green-blue;
					color: $bright-white-color;
				}
			}

			.discard-icon {
				width: 18px;
				height: 18px;
				color: $bg-dark-app;

				&:hover {
					color: #ce0a0ac7;
				}
			}
		}
	}
	.email-content-screen {
		height: calc(500px - 40px);
	}

	.email-content-mini {
		display: none;
	}
}

.email-form-mini-screen,
.email-form-mini-bottom {
	position: fixed;
	right: 10px;
	bottom: 1px;
	width: 400px;
	height: 500px;
}
