@import '../../sass/_colors.scss';
@import '../../sass/_anim.scss';

.bar-loader-container {
	width: 100%;
	height: 1px;
	background-color: $bg-white;
	position: absolute;
	bottom: 13px;
	left: 0;
	overflow: hidden;

	.bar-loader-progress {
		position: absolute;
		width: 30%;
		height: 1px;
		background-color: $secondary-blue;
		border-radius: 0.2em;
		transform: translateX(-95%);
		animation: progress-lft-rgt 1s infinite forwards ease-out;

		@include progress-lft-rgt;
	}
}
