@import '../../sass/_colors.scss';
@import './polar.scss';
@import './logoLoader.scss';

.bg-loader,
.bg-loader-opc {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 100vh;
	pointer-events: none;
	cursor: none;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 2;

	.loader-center {
		position: absolute;
		margin: 0;
	}
}

.bg-loader-opc {
	background-color: $bg-loader-opacity;
}
