@import '../../../sass/_colors.scss';

.main-container {
	width: 1000px;
	position: relative;
	margin: 0 auto;

	.grid-container {
		display: grid;
		// grid-auto-rows: minmax(150px, 300px);
		grid-auto-rows: auto;
		grid-gap: 10px 10px;
		padding: 10px 0;
		background-color: transparent;

		.light-grid-item,
		.dark-grid-item {
			background-color: $light-text-color;
			border-radius: 0.2em;
			padding: 10px;
		}

		.dark-grid-item {
			background-color: $base-dark;
			color: $light-text-color;
		}
	}
}

@media (max-width: 1000px) {
	.main-container {
		width: 100%;
	}
}
