.footer-container {
	display: flex;
	width: 1000px;
	height: 50px;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	flex-wrap: wrap;
	align-content: center;

	.light-text,
	.dark-text,
	.light-footer-link,
	.dark-footer-link {
		color: #5d5d5d;
		font-size: 0.85rem;
		padding: 0 3px;
	}

	.dark-text {
		color: #b4b4b4;
	}

	.light-footer-link,
	.dark-footer-link {
		text-decoration: none;
	}

	.light-tab,
	.dark-tab {
		font-size: 1.2rem;
		color: #a9a9a9;
	}

	.footer-nav,
	.region {
		display: flex;
		align-items: center;
	}

	.footer-left {
		width: 70%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-left: 10px;

		.footer-nav > .light-footer-link {
			color: #464646;
		}

		.footer-nav > .dark-footer-link {
			color: #9c9c9c;
		}

		.footer-nav > .light-footer-link,
		.dark-footer-link:hover {
			color: #2b2b2b;
			text-decoration: underline;
		}

		.footer-nav > .dark-footer-link:hover {
			color: #cccccc;
		}
	}

	.light-region,
	.dark-region {
		margin-right: 10px;
	}
}

@media (max-width: 1000px) {
	.footer-container {
		width: 100%;
		height: 75px;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		.footer-left {
			width: 100%;
			height: auto;
			flex-direction: column;
			justify-content: center;
		}
	}
}
