@import '../../sass/_colors.scss';

.light-content-icon,
.dark-content-icon {
	height: 35px;
	width: 35px;
	padding: 5px;
	cursor: pointer;
	border-radius: 0.2em;
	background-color: inherit;

	.light-icon,
	.dark-icon {
		width: 25px;
		height: 25px;
		// color: $light-text-color;
		color: $cultured;
	}

	.dark-icon {
		color: $fb-green-blue;
	}
}

.light-content-icon:hover {
	// background-color: $bg-blue-hover;
	background-color: $bright-navy-blue;
	.light-icon {
		color: $bright-white-color;
	}
}

.dark-content-icon:hover {
	background-color: $bg-dark-hover;
	.dark-icon {
		color: $bright-white-color;
	}
}

.light-collapse-icons,
.dark-collapse-icons {
	position: absolute;
	background-color: $lapis-lazuli;
	top: 51px;
	border-radius: 0.2em;
}

.dark-collapse-icons {
	background-color: $base-dark;
}
