@import '../../sass/_colors.scss';

.light-nav,
.dark-nav {
	width: 100%;
	height: 50px;
	// background-color: #1768aa;
	background-color: $base-blue;
	// color: #ffff;
	color: $light-text-color;
	display: flex;
	justify-content: center;
	align-items: center;

	.main-header {
		width: 1000px;
		max-width: 1000px;
		height: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;

		.logo {
			margin-left: 10px;
			font-weight: bold;
		}

		.user-avatar {
			border-radius: 50%;
			height: 50px;
			width: 50px;
			margin-right: 10px;
			display: flex;
			align-items: center;
			padding: 5px;
		}

		.avatar-container {
			width: 40px;
			height: 40px;
			border-radius: 50%;
			background-color: $light-gray;
			border: none;
		}

		.avatar-img {
			width: 40px;
			height: 40px;
			padding: 0;
			border-radius: 50%;
		}
	}
}
.dark-nav {
	// background-color: #1f2020;
	background-color: $base-dark;
}

@media (max-width: 1180px) {
	.light-nav,
	.dark-nav {
		height: 100px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		align-content: center;
		font-size: 1.2rem;

		.main-header {
			width: 100%;
		}
	}
}
